# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# OpenTelemetry
OTLP_ENDPOINT=http://otel-collector:4317

# Service URLs
BOOKING_SERVICE_URL=http://booking-service:80
SEAT_SERVICE_URL=http://seat-service:80
PAYMENT_SERVICE_URL=http://payment-service:80
TICKET_SERVICE_URL=http://ticket-service:80
NOTIFICATION_SERVICE_URL=http://notification-service:80

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
